hg+https://bitbucket.org/cherrypy/cherrypy@cp4
hg+https://bitbucket.org/cherrypy/cheroot
hg+ssh://hg@bitbucket.org/cherrypy/magicbus
Jinja2>=2.6
PyYAML>=3.10
Routes>=1.12.3
SQLAlchemy>=0.9
GeoAlchemy2>=0.2.4
Shapely>=1.2.14
redis>=2.4.11
hiredis>=0.1.0
webassets>=0.6
python-dateutil>=2.2
cdecimal>=2.3
MarkupSafe>=0.15
simplejson>=2.4.0
WebError>=0.10.3
